//techcommunity-timeline-bookmark-button - common.scss

.discourse-bookmark-button-wrapper {
  margin-top: 0.5em;
  transition: all 0.25s;
  width: 150px;
  .bookmark.bookmarked {
    .d-icon-discourse-bookmark-clock, .d-icon-bookmark{
      color: var(--tertiary);
    }
  }
}